pandas 
numpy 
matplotlib 
seaborn 
python-dotenv

langgraph 
faiss-cpu 
langchain-openai 
langchain-experimental 
pydantic 
langchain_google_genai 
ragas 
langchain 
sentence_transformers 
docling-core 
docling 
mlflow 

pypdf
ragas

wandb
rouge-score
requests
absl-py

